<div class="YCIO-about-dialog">
    <div class="about-header">
        <h2>{{moduleTitle}}</h2>
    </div>
    <table class="about-table">
        <tbody>
            <tr>
                <th>{{localize "YCIO.About.Version"}}</th>
                <td>{{version}}</td>
            </tr>
            <tr>
                <th>{{localize "YCIO.About.LastUpdate"}}</th>
                <td>{{lastUpdate}}</td>
            </tr>
            <tr>
                <th>{{localize "YCIO.About.ProjectUrl"}}</th>
                <td>
                    <a href="TODO_GITHUB_URL" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github"></i> {{localize "YCIO.About.ProjectLink"}}
                    </a>
                </td>
            </tr>
            <tr>
                <th>{{localize "YCIO.About.Author"}}</th>
                <td>悠子 / Yuuko</td>
            </tr>
            <tr>
                <th>{{localize "YCIO.About.Contact"}}</th>
                <td>
                    <div class="social-links">
                        <a href="https://www.facebook.com/YuukoTRPG" target="_blank" rel="noopener noreferrer"
                            title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://x.com/YuukoTrpg" target="_blank" rel="noopener noreferrer"
                            title="X (Twitter)"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://www.threads.com/@yuuko_trpg" target="_blank" rel="noopener noreferrer"
                            title="Threads"><i class="fa-brands fa-threads"></i></a>
                        <a href="https://www.plurk.com/victor324" target="_blank" rel="noopener noreferrer"
                            title="Plurk"><i class="fa-solid fa-p"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{localize "YCIO.About.Donate"}}</th>
                <td>
                    <div class="donate-link">
                        <a href="TODO_PATREON_URL" target="_blank" rel="noopener noreferrer" title="Patreon"><i
                                class="fa-brands fa-patreon"></i><span>Patreon</span></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>